.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.background{
  background-image: url('./bg1.jpg');
  background-size: cover;
  color:white;
  box-sizing: border-box;
  padding:20px;
}